{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}
<h1>
    Welcome to Jarvis, {{ user.username }}!
</h1>
<p>This is the home page of your personal assistant project.</p>
<div class="container">
    <h3>Quick Links</h3>
    <ul>
        <li><a href="{% url 'contact_list' %}">Contacts</a></li>
        <li><a href="{% url 'note_list' %}">Notes</a></li>
        <li><a href="{% url 'file_list' %}">Files</a></li>
        <li><a href="{% url 'news' %}">News</a></li>
        <li><a href="{% url 'task_list' %}">Tasks</a></li>
    </ul>
</div>
{% else %}
<h1>
    Welcome to Jarvis
</h1>
<p>Please <a href="{% url 'login' %}">login</a> to access your personal assistant features.</p>
{% endif %}
{% endblock %}
