{% extends "base.html" %}

{% load static %}
{% block content %}
<h2>Profile Settings</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'profile' %}">
    {% csrf_token %}
    {{ profile_form.as_p }}
    <button type="submit">Update Profile</button>
</form>

<h2>Change Password</h2>
<form method="post" action="{% url 'change_password' %}">
    {% csrf_token %}
    {{ password_form.as_p }}
    <button type="submit">Change Password</button>
</form>
{% endblock %}
