{% extends "base.html" %}
{% load static %}

{% block title %}
Create and Manage Tags
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/notes.css' %}">
{% endblock %}

{% block content %}
<style>
    /* .tag-list {
        max-height: 700px;
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
        text-align: left;
    } */

    .tag-list {
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        text-align: center;
        width: 600px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .tag-list ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .tag-list li {
        margin-bottom: 5px;
    }

    .tag-list button {
        background-color: #d86868;
        color: white;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .tag-list button:hover {
        background-color: #f44336;
    }

    .search-tags {
        margin-bottom: 20px;
    }
</style>



<h1>Create Tag</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>

<h2>Existing Tags</h2>
<!-- Search form -->
<form class="search-tags" method="get" action="{% url 'notes:tag_manage' %}">
    <input type="text" name="search" placeholder="Search tags..." value="{{ search_query }}">
    <button type="submit">Search</button>
</form>

<!-- <div class="tag-list">
    <ul>
        {% for tag in tags %}
        <li>
            {{ tag.name }}
            <form action="{% url 'notes:tag_manage_with_delete' delete_tag_id=tag.id %}" method="post"
                style="display:inline-block; margin-left: 5px;">
                {% csrf_token %}
                <button type="submit">
                    Delete
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div> -->


<div class="tag-list">
    <ul>
        {% for tag in tags %}
        <li>
            {{ tag.name }}
            <form action="{% url 'notes:tag_manage_with_delete' delete_tag_id=tag.id %}" method="post"
                style="display:inline-block; margin-left: 5px;">
                {% csrf_token %}
                <button type="submit">
                    Delete
                </button>
            </form>
        </li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'notes:note_list' %}">Back to Notes</a>
{% endblock %}