{% extends "base.html" %}

{% block content %}

<style>
    .news-list-page__card {
    padding: 1rem 0;
    border-bottom: 1px solid var(--bd);
    margin-bottom: 1rem;
    }
    .news-card {
    display: flex;
    flex-direction: column;
    }
    .news-card__time {
    font-weight: bold;
    color: #0077be;
    margin-bottom: 0.5rem;
    }
    .news-card__title {
    font-size: 1.1rem;
    color: var(--body-color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    }
    .news-card__badge {
    color: #ff6600;
    text-transform: uppercase;
    }
    .form-group {
    margin-bottom: 1rem;
    }
    .pager {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    }
   </style>

<h1>News List</h1>

<div>
    <a href="{% url 'news:news_update' %}" class="btn btn-primary">Update news</a>
</div>

<form method="get" action="{% url 'news:news_list' %}">
    <label for="category">Sort by category:</label>
    <select id="category" name="category" class="form-control" onchange="this.form.submit()">
        <option value="">All Categories</option>
        {% for category in categories %}
        <option value="{{ category.id }}" {% if category.id|stringformat:"s" == selected_category %}selected{% endif %}>
            {{ category.name }}
        </option>
        {% endfor %}
    </select>
</form>

{% for n in all_news %}

    <article class="news-card news-list-page__card">
        <div>
            {% if n.published_time %}
                <time class="news-card__time">
                    {{ n.published_time }}
                </time>
            {% endif %}
            <a href="{% url 'news:news_detail' n.title %}" class="news-card__title">
                {{ n.title }}
            </a>
            <span class="news-card__badge">
                {{ n.category }}
            </span>
        </div>
    </article>

{% endfor %}

<nav>
    <div class="pager">
        <span class="previous">
            <a class="{% if not all_news.has_previous %} disabled {% endif %}"
            href="{% if all_news.has_previous %} {% url 'news:news_list' page=all_news.previous_page_number %}?category={{ selected_category|default:'' }} {% else %} # {% endif %}">
            <span aria-hidden="true">←</span>
            Previous</a>
        </span>
       <span class="next">
            <a class="{% if not all_news.has_next %} disabled {% endif %}"
            href="{% if all_news.has_next %} {% url 'news:news_list' page=all_news.next_page_number %}?category={{ selected_category|default:'' }} {% else %} # {% endif %}">Next
            <span aria-hidden="true">→</span></a>
       </span>
    </div>
</nav>

{% endblock %}