/* General body styles */
body {

    font-family: Arial, sans-serif;
    background-color: #333;
    color: #00ffcc;
    margin: 0;
    padding: 20px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #00ffcc;
}

table,
th,
td {
    border: 1px solid #00ffcc;
}

th,
td {
    background-color: #333;
    padding: 10px;
    text-align: left;
}

/* Header styles */
h1 {
    background-color: #333;
    color: #00ffcc;
}

/* Form styles */
form {
    background-color: #333;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #00ffcc;
    background-color: #333;
    color: #00ffcc;
}

button {
    padding: 8px 12px;
    border: 1px solid #00ffcc;
    background-color: #333;
    color: #00ffcc;
    cursor: pointer;
}


/* Link styles */
a {
    color: #00ffcc;
    text-decoration: none;
}

a:hover {
    background-color: #333;
    text-decoration: underline;
}